---
const COOKIEBOT_ID = '5b835602-6473-465e-8f36-de64d4a371d6';
const declarationUrl = `https://consent.cookiebot.com/${COOKIEBOT_ID}/cd.js`;
---

<div class="cookie-declaration">
  {import.meta.env.PROD && (
    <script
      id="CookieDeclaration"
      is:inline
      src={declarationUrl}
      type="text/javascript"
      async
    ></script>
  )}
</div>
