---
// 全局组件 · Nav（吸顶）。overlay=true 时透明压在首页 Hero 照片上（白字）。
interface Props {
  active?: 'features' | 'about' | 'blog' | '';
  isHome?: boolean;
  showBlog?: boolean;
  brand?: string;
  overlay?: boolean;
}
const { active = '', isHome = false, showBlog = false, brand = 'Shedio', overlay = false } = Astro.props;
const a = isHome ? '' : '/';
const loginClass = overlay ? 'btn btn-outline-white' : 'btn btn-coral';
---
<header class={overlay ? 'site-header site-header--overlay' : 'site-header'}>
  <div class="wrap nav">
    <a href="/" class="brand brand-mark">
      <svg width="26" height="26" viewBox="0 0 500 500" fill="none" aria-hidden="true">
        <path d="M244.552 68.6868C278.243 64.9539 314.78 76.6341 336.047 98.9267H336.049C370.702 135.266 360.176 174.324 341.821 189.543L341.818 189.54C330.234 199.159 317.225 201.94 304.089 199.659C291.712 197.51 279.774 190.988 268.778 183.312L268.772 183.306C232.888 158.216 266.169 181.535 198.209 133.862V133.859C196.959 132.983 195.727 132.15 194.513 131.353C192.814 135.055 191.365 139.069 190.199 143.408L190.196 143.423C185.715 160.025 189.392 171.605 196.936 181.67C204.178 191.332 214.944 199.571 227.486 208.461L232.964 212.317C259.231 230.726 271.737 239.491 277.289 243.382C277.567 243.576 277.826 243.759 278.069 243.929C278.073 243.932 278.078 243.933 278.081 243.935C278.117 243.959 278.175 243.995 278.195 244.009C278.228 244.032 278.255 244.052 278.264 244.058C278.288 244.074 278.311 244.09 278.327 244.101C278.363 244.126 278.412 244.16 278.471 244.201C278.591 244.286 278.777 244.416 279.035 244.597C279.553 244.959 280.38 245.538 281.621 246.407C286.592 249.888 298.225 258.038 323.323 275.624C357.157 299.327 371.571 327.29 365.679 355.491C363.52 365.823 358.762 375.355 352.161 383.972C370.554 389.03 386.802 390.321 399.789 390.321C407.085 390.321 413 396.232 413 403.523C412.999 410.813 407.085 416.725 399.789 416.725C381.416 416.724 357.493 414.431 330.516 404.812C324.087 409.55 317.097 413.805 309.777 417.521L309.774 417.524C286.697 429.231 255.25 432.783 225.032 430.204C195.649 427.697 165.331 419.219 142.568 404.571L140.389 403.133C123.815 391.932 105.475 375.833 95.1896 356.468C89.9599 346.622 86.5966 335.513 87.0389 323.607C87.4837 311.639 91.7418 299.817 100.224 288.611C100.246 288.581 100.271 288.55 100.296 288.517C100.41 288.36 100.553 288.171 100.723 287.952C101.062 287.514 101.513 286.954 102.079 286.305C103.208 285.011 104.813 283.338 106.912 281.535C111.106 277.932 117.391 273.716 125.883 271.083C143.539 265.61 167.372 267.928 196.999 288.68L197.002 288.683C291.337 354.788 230.085 311.885 292.174 355.362C303.65 363.341 314.832 369.551 325.551 374.369C333.284 366.505 338.123 358.185 339.814 350.094C342.622 336.652 337.598 318.793 310.818 299.152L308.157 297.246C283.057 279.658 271.426 271.511 266.458 268.032C266.418 268.004 266.377 267.977 266.338 267.949H266.335C266.285 267.916 266.216 267.867 266.195 267.852L266.028 267.737C265.705 267.511 264.597 266.736 262.121 265.001C256.567 261.11 244.062 252.342 217.795 233.933C203.78 224.111 187.069 212.552 175.787 197.499C163.774 181.472 157.923 161.608 164.68 136.558C166.27 130.644 168.265 125.157 170.606 120.079C163.583 118.165 156.167 117.334 147.525 117.334C140.229 117.334 134.314 111.423 134.314 104.132C134.315 96.8418 140.229 90.9308 147.525 90.9305C161.905 90.9305 174.068 92.9016 185.709 97.2278C201.458 80.0761 222.782 71.0991 244.552 68.6868ZM179.551 308.735C156.225 293.084 141.5 293.887 133.712 296.301C129.357 297.651 126.186 299.795 124.137 301.555C123.115 302.433 122.401 303.193 121.992 303.661L121.631 304.091L121.577 304.174L121.399 304.409C115.787 311.773 113.666 318.505 113.44 324.587C113.209 330.801 114.927 337.312 118.526 344.089C125.899 357.97 140.206 371.135 155.191 381.262H155.188C173.362 393.542 199.944 401.562 227.279 403.895C254.724 406.237 280.698 402.661 297.811 393.98L300.053 392.816C300.557 392.549 301.054 392.274 301.549 392.003C293.533 387.745 285.347 382.784 277.046 377.01L277.011 376.987C214.922 333.51 276.145 376.388 181.836 310.302L179.551 308.735ZM316.921 117.142C302.196 101.709 274.267 91.9599 247.462 94.9301C233.675 96.458 220.695 101.257 210.31 110.143C211.329 110.826 212.355 111.526 213.386 112.249L213.389 112.252C281.345 159.921 248.058 136.599 283.909 161.667C293.757 168.542 301.901 172.48 308.613 173.645C314.563 174.678 319.646 173.629 324.94 169.23L324.949 169.225C330.725 164.436 341.746 143.174 316.921 117.142Z" fill="currentColor"/>
      </svg>
      <svg class="brand-wm" viewBox="42 196 420 108" fill="none" role="img" aria-label="Shedio">
        <path d="M419.608 297.892C412.79 297.892 406.825 296.528 401.712 293.801C396.599 290.989 392.636 287.027 389.824 281.914C387.012 276.715 385.606 270.58 385.606 263.507C385.606 256.263 387.012 250.042 389.824 244.844C392.722 239.561 396.727 235.513 401.84 232.701C406.953 229.889 412.833 228.483 419.48 228.483C426.297 228.483 432.22 229.931 437.247 232.829C442.275 235.726 446.195 239.774 449.007 244.972C451.82 250.17 453.226 256.391 453.226 263.635C453.226 270.708 451.82 276.843 449.007 282.041C446.281 287.155 442.403 291.074 437.375 293.801C432.433 296.528 426.51 297.892 419.608 297.892ZM419.352 281.53C423.272 281.53 426.425 280.678 428.811 278.974C431.197 277.269 432.901 275.054 433.924 272.327C435.032 269.515 435.586 266.575 435.586 263.507C435.586 260.439 435.032 257.499 433.924 254.687C432.901 251.875 431.197 249.574 428.811 247.784C426.51 245.909 423.357 244.972 419.352 244.972C415.517 244.972 412.407 245.909 410.021 247.784C407.635 249.574 405.888 251.875 404.78 254.687C403.757 257.499 403.246 260.439 403.246 263.507C403.246 266.66 403.757 269.6 404.78 272.327C405.888 275.054 407.635 277.269 410.021 278.974C412.407 280.678 415.517 281.53 419.352 281.53Z" fill="currentColor"/>
        <path d="M357.361 296.997V229.633H375.256V296.997H357.361ZM366.308 222.858C362.985 222.858 360.301 221.878 358.255 219.918C356.21 217.873 355.188 215.274 355.188 212.121C355.188 208.797 356.253 206.113 358.383 204.068C360.514 202.023 363.198 201 366.436 201C369.419 201 371.975 202.023 374.106 204.068C376.321 206.028 377.429 208.67 377.429 211.993C377.429 215.231 376.364 217.873 374.234 219.918C372.188 221.878 369.547 222.858 366.308 222.858Z" fill="currentColor"/>
        <path d="M306.487 297.892C299.669 297.892 294.002 296.358 289.486 293.29C285.054 290.137 281.731 285.961 279.515 280.763C277.3 275.48 276.192 269.642 276.192 263.251C276.192 256.519 277.385 250.554 279.771 245.355C282.157 240.072 285.694 235.939 290.381 232.956C295.067 229.974 300.905 228.482 307.893 228.482C310.279 228.482 312.622 228.781 314.923 229.377C317.309 229.889 319.482 230.698 321.442 231.806C323.487 232.829 325.234 234.192 326.683 235.896V206.496H344.579V296.997H327.194L326.939 289.455C325.405 291.415 323.53 293.034 321.314 294.313C319.184 295.506 316.883 296.4 314.412 296.997C311.94 297.594 309.299 297.892 306.487 297.892ZM310.066 281.786C313.9 281.786 317.011 280.891 319.397 279.101C321.868 277.312 323.7 275.011 324.893 272.199C326.087 269.387 326.683 266.361 326.683 263.123C326.683 259.8 326.087 256.775 324.893 254.048C323.786 251.235 321.996 249.02 319.525 247.401C317.139 245.696 313.986 244.844 310.066 244.844C306.146 244.844 302.993 245.739 300.607 247.528C298.221 249.318 296.516 251.662 295.494 254.559C294.556 257.371 294.087 260.396 294.087 263.635C294.087 266.021 294.343 268.321 294.854 270.537C295.451 272.668 296.388 274.585 297.667 276.289C298.945 277.994 300.607 279.357 302.652 280.38C304.697 281.317 307.168 281.786 310.066 281.786Z" fill="currentColor"/>
        <path d="M237.306 297.892C230.233 297.892 224.225 296.486 219.283 293.674C214.34 290.861 210.548 286.899 207.906 281.786C205.264 276.588 203.944 270.537 203.944 263.635C203.944 256.647 205.307 250.554 208.034 245.356C210.761 240.072 214.596 235.939 219.538 232.956C224.566 229.974 230.489 228.483 237.306 228.483C242.419 228.483 246.893 229.335 250.728 231.039C254.648 232.743 257.929 235.129 260.57 238.197C263.297 241.265 265.3 244.844 266.578 248.935C267.942 252.94 268.581 257.286 268.496 261.973C268.496 263.166 268.453 264.316 268.368 265.424C268.283 266.532 268.112 267.64 267.856 268.748H221.711C221.967 271.304 222.691 273.648 223.884 275.778C225.077 277.908 226.739 279.613 228.87 280.891C231.085 282.084 233.812 282.681 237.05 282.681C239.181 282.681 241.141 282.468 242.93 282.041C244.72 281.53 246.254 280.763 247.532 279.741C248.81 278.718 249.705 277.525 250.216 276.162H267.856C266.749 281.189 264.661 285.322 261.593 288.561C258.61 291.799 254.989 294.185 250.728 295.719C246.467 297.168 241.993 297.892 237.306 297.892ZM222.095 256.221H251.367C251.282 253.92 250.685 251.789 249.577 249.829C248.555 247.784 246.978 246.165 244.848 244.972C242.803 243.694 240.161 243.055 236.923 243.055C233.684 243.055 230.957 243.694 228.742 244.972C226.611 246.25 224.992 247.912 223.884 249.957C222.862 251.917 222.265 254.005 222.095 256.221Z" fill="currentColor"/>
        <path d="M130.385 296.997V206.496H148.281V237.43C150.241 235.129 152.414 233.34 154.8 232.062C157.271 230.783 159.742 229.889 162.214 229.377C164.77 228.781 167.114 228.482 169.244 228.482C175.55 228.482 180.493 229.889 184.072 232.701C187.651 235.513 190.207 239.305 191.741 244.077C193.275 248.849 194.042 254.09 194.042 259.8V296.997H176.147V262.356C176.147 260.311 175.934 258.266 175.507 256.221C175.167 254.175 174.527 252.301 173.59 250.596C172.653 248.807 171.332 247.401 169.627 246.378C167.923 245.27 165.665 244.716 162.853 244.716C160.211 244.716 157.953 245.27 156.078 246.378C154.203 247.486 152.669 248.977 151.476 250.852C150.368 252.642 149.559 254.644 149.048 256.86C148.536 259.075 148.281 261.291 148.281 263.507V296.997H130.385Z" fill="currentColor"/>
        <path d="M83.9642 298.02C77.6581 298.02 71.7782 297.04 66.3243 295.08C60.9556 293.12 56.4391 290.009 52.7748 285.749C49.1956 281.488 46.9374 275.991 46 269.259H64.6625C65.4295 272.156 66.8356 274.5 68.8808 276.289C70.926 277.994 73.3547 279.229 76.1668 279.996C79.0642 280.763 82.0894 281.147 85.2425 281.147C87.6285 281.147 89.972 280.849 92.2729 280.252C94.5737 279.655 96.4485 278.633 97.8972 277.184C99.4311 275.735 100.198 273.776 100.198 271.304C100.198 269.429 99.772 267.896 98.9198 266.702C98.1529 265.509 97.0024 264.572 95.4685 263.89C94.0198 263.123 92.2303 262.442 90.0998 261.845C88.3103 261.334 86.4355 260.908 84.4755 260.567C82.6007 260.226 80.726 259.8 78.8512 259.289C77.0616 258.777 75.3147 258.181 73.6103 257.499C70.3721 256.647 67.2617 255.624 64.2791 254.431C61.2965 253.153 58.6547 251.576 56.3539 249.702C54.053 247.742 52.2208 245.313 50.8574 242.416C49.5791 239.518 48.94 236.024 48.94 231.934C48.94 227.503 49.6643 223.753 51.113 220.685C52.6469 217.617 54.6495 215.104 57.1208 213.144C59.6773 211.098 62.4895 209.522 65.5573 208.414C68.7104 207.306 71.8634 206.539 75.0164 206.113C78.1695 205.687 81.152 205.474 83.9642 205.474C89.8442 205.474 95.1276 206.497 99.8146 208.542C104.502 210.587 108.336 213.655 111.319 217.745C114.301 221.836 116.006 226.991 116.432 233.212H98.6642C98.3233 230.656 97.3859 228.568 95.852 226.949C94.3181 225.33 92.3581 224.137 89.972 223.37C87.6712 222.603 85.072 222.219 82.1747 222.219C80.2999 222.219 78.4677 222.39 76.6782 222.73C74.8886 223.071 73.2695 223.625 71.8208 224.392C70.4573 225.074 69.3495 226.011 68.4973 227.204C67.7304 228.397 67.3469 229.846 67.3469 231.55C67.3469 233.255 67.8156 234.746 68.753 236.024C69.6903 237.217 71.0538 238.283 72.8434 239.22C74.7182 240.072 76.8912 240.882 79.3625 241.649C81.919 242.501 84.6033 243.183 87.4155 243.694C90.2277 244.205 92.912 244.887 95.4685 245.739C98.7068 246.591 101.732 247.614 104.544 248.807C107.356 249.915 109.828 251.363 111.958 253.153C114.088 254.857 115.75 257.073 116.943 259.8C118.136 262.442 118.733 265.722 118.733 269.642C118.733 274.841 117.753 279.272 115.793 282.936C113.918 286.515 111.319 289.413 107.995 291.628C104.757 293.844 101.05 295.463 96.8746 296.486C92.699 297.508 88.3955 298.02 83.9642 298.02Z" fill="currentColor"/>
      </svg>
    </a>
    <nav class="nav-links">
      <a href={`${a}#features`} class={active === 'features' ? 'active' : ''}>App Features</a>
      <a href="#contact">Contact us</a>
      {showBlog && <a href="/blog/" class={active === 'blog' ? 'active' : ''}>Blog</a>}
      <a href="/help">Help Center</a>
    </nav>
    <div class="nav-right">
      <a href="/login/" class={loginClass} style="display:none">Log in</a>
      <button class="menu-toggle" aria-label="Menu">
        <span class="menu-toggle-icon" aria-hidden="true">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </button>
    </div>
  </div>
</header>

<script is:inline>
  /* 目录栏随滚动方向自动收起/展开：
     - 向下滚动 → 加 .site-header--hidden，配合 CSS transform:translateY(-100%) 匀速向上收起；
     - 向上滚动 / 接近顶部 → 移除该类，重新展开。
     手机和电脑 web 通用。用 requestAnimationFrame 节流，passive 监听不阻塞滚动。 */
  (function(){
    var header = document.querySelector('.site-header');
    if(!header) return;
    var lastY = window.pageYOffset || document.documentElement.scrollTop || 0;
    var ticking = false;
    var DELTA = 6;      // 忽略微小抖动
    var TOP_ZONE = 80;  // 顶部这段范围内始终展开
    function update(){
      var y = window.pageYOffset || document.documentElement.scrollTop || 0;
      if(y <= TOP_ZONE){
        header.classList.remove('site-header--hidden');
      } else if(y - lastY > DELTA){
        header.classList.add('site-header--hidden');   // 向下 → 收起
      } else if(lastY - y > DELTA){
        header.classList.remove('site-header--hidden'); // 向上 → 展开
      }
      lastY = y;
      ticking = false;
    }
    window.addEventListener('scroll', function(){
      if(!ticking){ window.requestAnimationFrame(update); ticking = true; }
    }, {passive:true});
  })();
</script>
